body {
    background-color: rgb(15, 29, 41);
    padding: 0;
    margin: 0;
}

header {
    width: 100%;
}

h1 {
    color: white;
    font-family: Bahnschrift;
}

h3 {
    color: white;
    font-family: Bahnschrift;
    margin: 0px;
    font-size: 22px;
}

a {
    color: white;
    font-family: Bahnschrift;
    font-size: 14px;
}

.header-text {
    background-color: rgb(4, 21, 33);
    text-align: center;
    width: 70%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    padding: 30px;
    border-radius: 30px;
}

#random-image 
    max-height: 500px;
    max-width: 90%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

#random-image:hover {
    cursor: pointer;
}

#random-text {
    text-align: center;
}

#random-text a {
    color: rgb(15, 29, 41);
}

.random-text-toggle {
    background-color: rgb(130, 20, 20);
}

#gallery-cards-space {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.gallery-cards {
    background-color: rgb(7, 15, 25);
    width: 24%;
    height: auto;
    margin: 0.5%;
}

.gallery-cards:hover, .gallery-cards img:hover {
    background-color: rgb(20, 55, 130);
}

.gallery-cards:hover .card-title {
    background-color: rgb(0, 55, 130);
}

.gallery-cards:hover #description-button {
    background-color: rgb(0, 55, 130);
}

.card-title {
    background-color: rgb(4, 21, 33);
    padding: 5px;
    font-size: 20px;
    text-align: center;
}

.gallery-cards img {
    width: 100%;
}

.gallery-cards img:hover {
    cursor: pointer;
}

#description-button {
    background-color: rgb(4, 21, 33);
}

#description-button img {
    width: 10%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.image-description {
    background-color: rgb(8, 12, 12);
    padding: 0.5%;
}

#img-fullscreen {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    display: none;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 2;
}

#img-fullscreen img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 100%;
    max-width: 100%;
}

#x-button {
    background-image: url("../images/xbutton.png");
    background-repeat: no-repeat;
    background-size: 30px;
    position: absolute;
    right: 20px;
    top: 20px;
    height: 30px;
    width: 30px;
}

#x-button:hover {
    cursor: pointer;
}

#next-img-button {
    background-image: url("../images/nextpreviousbutton.png");
    background-repeat: no-repeat;
    background-size: 30px;
    position: absolute;
    right: 20px;
    top: 50%;
    height: 50px;
    width: 30px;
}

#next-img-button:hover {
    cursor: pointer;
}

#previous-img-button {
    background-image: url("../images/nextpreviousbutton.png");
    background-repeat: no-repeat;
    background-size: 30px;
    rotate: 180deg;
    position: absolute;
    left: 20px;
    top: 50%;
    height: 50px;
    width: 30px;
}

#previous-img-button:hover {
    cursor: pointer;
}

footer {
    background-color: rgb(4, 21, 33);
    height: 150px;
    text-align: center;
    line-height: 150px;
}

@media only screen and (max-width: 800px) {
    .gallery-cards {
        width: 49%;
    }
}

@media only screen and (max-width: 400px) {
    .gallery-cards {
        width: 99%;
    }
}
